<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<meta charset="UTF-8">

<div layout:fragment="content">
    <!-- <div th:if="${not #lists.isEmpty(listaItens)}"> -->

    <div class="container   " >
        <div class="col-12" >
            <h2>Histórico de compra</h2><br><br>
        </div>

        <div class="row">
            <div class="col-12" >
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Evento</th>
                            <th scope="col">Data</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col" class="text-right">Total da Compra</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="item: ${listaItens}">
                            <td></td>
                            <td th:text="${item.evento.nome}"></td>
                            <td th:text="${#dates.format(item.evento.data, 'dd/MM/yyyy')}"></td>
                            <td><span th:text="${item.quantidade}"> </span>
                            </td>
                            <td th:text="'R$' + ${#numbers.formatDecimal(item.valorTotal, 0, 'POINT', 2, 'COMMA')}"></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
            </div>
        </div>
    </div>


    <!-- </div> -->

</div>


</html>