<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"

>
<meta charset="UTF-8">


<div layout:fragment="content">

    <div class="alert alert-danger " th:if="${#lists.isEmpty(listaCasa)}">
        Para cadastrar um evento, é necessário pelo meno uma casa de show cadastrada!
    </div>

            <div class="alert alert-primary " th:if="${mensagem != null}"
                 th:text="${mensagem}"></div>
            <div class="card mb-3">

                <div class="card-header">
                    <p class="text-primary">Evento</p>
                </div>

                <div class="card-body">
                    <form method="POST" th:object="${evento}" th:action="@{/evento/novo}">
                        <input type="hidden" th:field="*{id}">
                        <!-- Nome do evento -->
                        <div class="form-group mb-3">
                            <label for="nome">Evento: </label>
                            <input  class="form-control" type="text" th:field="*{nome}" required></input>
                            <div class="text-danger" th:if="${#fields.hasErrors('nome')}"
                                 th:errors="*{nome}"></div>
                        </div>
                        <!-- Capacidade -->
                        <div class="form-group mb-3">
                            <label for="capacidade">Capacidade: </label>
                            <input class="form-control"
                                   type="number" th:field="*{capacidade}" required></input>
                            <div class="text-danger" th:if="${#fields.hasErrors('capacidade')}"
                                 th:errors="*{capacidade}"></div>
                        </div>
                        <!-- Data -->
                        <div class="form-group mb-3">
                            <label for="data">Data:</label>
                            <input class="form-control" type="text" id="_data"></input>
                            <input type="hidden" th:field="*{data}"></input>
                            <div class="text-danger" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></div>
                        </div>
                        <!-- Valor do ingresso -->
                        <div class="form-group mb-3">
                            <label for="valorIngresso">Valor do ingresso: </label>
                            <input class="form-control" step="0.01" min="0.01" type="number" th:field="*{valorIngresso}"
                                   required></input>
                            <div class="text-danger" th:if="${#fields.hasErrors('valorIngresso')}"
                                 th:errors="*{valorIngresso}"></div>
                        </div>
                        <!-- Local-->
                        <div class="form-group mb-3">
                            <label for="casas">Local:</label>
                            <select class="form-select" th:field="*{casas}">
                                <option th:each="casas: ${listaCasa}" th:value="${casas.id}" th:text="${casas.endereco}"/>
                            </select>
                            <div class="text-danger" th:if="${#fields.hasErrors('casas')}"
                                 th:errors="*{casas}"></div>
                        </div>
                        <!-- Genero -->
                        <div class="form-group mb-3">
                            <label for="genero">Genero:</label>
                            <select class="form-select" th:field="*{genero}">
                                <option th:each="genero: ${T(com.gft.gerenciadorEventos.entities.Genero).values()}"
                                        th:value="${genero}" th:text="${genero}"/>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>

            </div>
            <!------------------------------------------------------------------------------------ -->
            <div class="alert alert-danger" th:if="${#lists.isEmpty(lista)}">
                Nenhuma Casa de Show cadastrada
            </div>

            <div th:if="${not #lists.isEmpty(lista)}">

                <table class="table table-striped mb-3">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Capacidade</th>
                        <th>Data</th>
                        <th>Preço do Ingresso</th>
                        <th>Casa de Show</th>
                        <th>Endereço</th>
                        <th> Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="evento: ${lista}">
                        <td th:text="${evento.id}"></td>
                        <td th:text="${evento.nome}"></td>
                        <td th:text="${evento.capacidade}"></td>
                        <td th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></td>
                        <td th:text="'R$' + ${#numbers.formatDecimal(evento.valorIngresso, 0, 'POINT', 2, 'COMMA')}"></td>
                        <td th:text="${evento.casas.nome}"></td>
                        <td th:text="${evento.casas.endereco}"></td>


                        <td>
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/evento/editar(id=${evento.id})}">Editar</a>
                            <a class="btn btn-danger btn-sm"
                               th:href="@{/evento/excluir(id=${evento.id})}"
                               onclick="return confirm('Você realmente deseja excluir este evento?')">Excluir</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

</div>
    <!------------------------------------------------------------------------------------ -->


    <div layout:fragment="scripts">
        <script>
			$(function() {
			$("#_data").datepicker({
			dateFormat: "dd/mm/yy",
				altFormat: "yy-mm-dd",
				altField: "#data",
			});
			});

        </script>
    </div>


</html>