<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="style/styleCss.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="style/styleCss.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<title>Gerenciador Eventos</title>
</head>

<STYLE>A {text-decoration: none;} </STYLE>
<body>
	<div id="menu">
		<nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #363636; text-color:white">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Gerenciador de Eventos</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarScroll"
					aria-controls="navbarScroll" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarScroll">
					<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
						style="-bs-scroll-height: 100px;">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page"  th:href="@{/home}">Home</a></li>
							
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#"
								id="navbarDropdownMenuLink" role="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Casas de Show </a>
								<ul class="dropdown-menu"
									aria-labelledby="navbarDropdownMenuLink">
									<!--   <li><a class="dropdown-item" th:href="@{/casa}">Listar</a></li>-->
									<li><a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item"  th:href="@{/casa/novo}">Cadastrar</a></li>
								</ul>
							</li>
							
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#"
								id="navbarDropdownMenuLink" role="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Evento </a>
								<ul class="dropdown-menu"
									aria-labelledby="navbarDropdownMenuLink">
									<!-- <li><a class="dropdown-item" th:href="@{/casa}">Listar</a></li> -->
									<li><a class="dropdown-item"  sec:authorize="hasRole('ROLE_ADMIN')"  th:href="@{/evento/novo}">Cadastrar</a></li>
								</ul>
							</li>
						<li class="nav-item"><a sec:authorize="hasRole('ROLE_USER')" class="nav-link" href="/venda">Carrinho</a></li>
						<li class="nav-item"><a sec:authorize="hasRole('ROLE_USER')"  class="nav-link" href="/historico">Historico</a></li>

					</ul>


					<div class="d-flex">
						<a class="nav-link" style="color: white"  sec:authorize="!isAuthenticated()"  th:href="@{/usuario/novo}">Cadastrar</a>
					</div>



					<div class="d-flex">
						<a class="nav-link" style="color: white"  sec:authorize="!isAuthenticated()"  href="@{/login}">Login</a>
						<a onclick="document.querySelector('#form-login').submit() "class="nav-link "  style="color: white"  sec:authorize="isAuthenticated()" href="#">Logout</a>
						<form id="form-login" th:action="@{/logout}" method="post"></form>
					</div>
				</div>
			</div>
		</nav>
	</div>
	
	<div id="conteudo" class="container mb-5" layout:fragment="content"></div>

	<footer class=""> </footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<div layout:fragment="scripts"></div>
	
	
</body>




</html>